@font-face {
	font-family: "Yanone Kaffeesatz";
	src: local("Yanone Kaffeesatz"), local("YanoneKaffeesatz-Regular"),
		url("yanonekaffeesatz.woff2") format("woff2"),
		url("yanonekaffeesatz.woff") format("woff"),
		url("yanonekaffeesatz.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}